<h1>
    ارسال فیش واریزی
</h1>

<h2>
    {{ reservation.week.title }}
</h2>

<p>
    <strong>مبلغ قابل پرداخت:</strong>
    {{ reservation.final_amount }} تومان
</p>

<p>
    پس از واریز مبلغ، تصویر فیش را در این قسمت بارگذاری کنید.
</p>

<hr>


<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        ارسال فیش برای بررسی
    </button>

</form>


<br>

<a href="{% url 'cafeteria_payment_method' reservation.id %}">
    بازگشت به روش‌های پرداخت
</a>