<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>ثبت دانش‌آموز</title>
</head>

<body>

<h1>ثبت دانش‌آموز جدید</h1>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        ثبت دانش‌آموز
    </button>
</form>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const academicYearField = document.getElementById("id_academic_year");
    const classroomField = document.getElementById("id_classroom");

    academicYearField.addEventListener("change", function () {

        const yearId = this.value;

        classroomField.innerHTML = '<option value="">---------</option>';

        if (!yearId) {
            return;
        }

        fetch(`/accounts/load-classrooms/?academic_year=${yearId}`)
            .then(response => response.json())
            .then(data => {

                data.classrooms.forEach(function (classroom) {

                    const option = document.createElement("option");

                    option.value = classroom.id;
                    option.textContent = classroom.name;

                    classroomField.appendChild(option);

                });

            });

    });

});
</script>

</body>
</html>