{% extends "auth_base.html" %}
{% load static %}


{% block title %}
ورود به سامانه RSP
{% endblock %}



{% block content %}


<div class="login-page">


    <div class="login-card">


        <div class="brand-logo">

            <img 
                src="{% static 'images/logo.jpg' %}"
                alt="روشنگران"
            >

        </div>



        <div class="login-title">

            <h1>
                سامانه مدیریت آموزشی RSP
            </h1>

            <p>
                دبستان روشنگران
            </p>

        </div>



        {% if error %}

            <div class="alert-error">
                {{ error }}
            </div>

        {% endif %}




        <form method="post">

            {% csrf_token %}


            <div class="form-group">

                <label>
                    نام کاربری
                </label>

                <input
                    type="text"
                    name="username"
                    placeholder="نام کاربری"
                    required
                >

            </div>



            <div class="form-group">

                <label>
                    رمز عبور
                </label>

                <input
                    type="password"
                    name="password"
                    placeholder="رمز عبور"
                    required
                >

            </div>



            <button
                class="btn btn-primary login-button"
                type="submit"
            >

                ورود به سامانه

            </button>


        </form>


    </div>


</div>


{% endblock %}